{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}Budget It Yourself{% endblock title %}
		</title>
		{% block css %}
		<link type="text/css" href="{{ STATIC_URL }}css/mint-choc/jquery-ui-1.8.20.custom.css" rel="stylesheet" />
		<link rel="stylesheet" href="{{ STATIC_URL }}blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="{{ STATIC_URL }}blueprint/print.css" type="text/css" media="print"> 
		<!--[if lt IE 8]>
			<link rel="stylesheet" href="{{ STATIC_URL }}blueprint/ie.css" type="text/css" media="screen, projection">
		<![endif]-->
		<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css">
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>  
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.20.custom.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/buttons.js"></script>
		<script src="{{ STATIC_URL }}ajaxuploader/js/fileuploader.js" ></script>
        <link href="{{ STATIC_URL }}ajaxuploader/css/fileuploader.css" media="screen" rel="stylesheet" type="text/css" />
		 <script>
            $(function(){
            var uploader = new qq.FileUploaderBasic({
                action: "{% url my_ajax_upload %}",
				button: document.getElementById('ajaxform'),
                multiple: false,
                onSubmit: function() {
                	$('#ajaxSpinner').css('visibility','visible');
                	return true;
                },
                onComplete: function(id, fileName, responseJSON) {
                	$('#ajaxSpinner').css('visibility','hidden');
                    if(responseJSON.success) {
                    	$('#pinBox').html(responseJSON.pin)
                    } else {
                        alert("Upload failed!");
                    }
                },
                onAllComplete: function(uploads) {
                },
                params: {
                    'csrf_token': '{{ csrf_token }}',
                    'csrf_name': 'csrfmiddlewaretoken',
                    'csrf_xname': 'X-CSRFToken',
                },
            });
            });
        </script>
		{% endblock css %}
	</head>
	<body>
		<div class="siteArea">
			<div class="container">
				{% block body %}
				<div id="header" class="span-24 last headerBackground">
					{% block header %}
						<img src="{{ STATIC_URL }}images/header-logo.jpg">
					{% endblock header %}
				</div>
				<div id="present" class="span-24 last presentBackground">
					{% block present %}
					<div id="presentArea">
						<div id="presentAreaHome">
							<img src="{{ STATIC_URL }}images/device.jpg">
						</div>
						<div id="presentAreaAbout">
							<img src="{{ STATIC_URL }}images/aboutContent.jpg">
						</div>
						<div id="presentAreaUpload">
							<form name="uploadForm" enctype="multipart/form-data">
								{% csrf_token %}
								<input id="chooseFileControl" type="file" name="chooseFileControl" />
								<input id="uploadFileControl" type="button" name="submit" />
							</form>
							<input type="image" id="chooseFileButton" src="{{ STATIC_URL}}images/greenbutton-choose.png">
							<input type="image" id="uploadFileButton" src="{{ STATIC_URL}}images/greenbutton-upload.png">
							<div id="ajaxform">
								
							</div>
							<div id="pinBox">
								<img id="ajaxSpinner" src="{{ STATIC_URL }}images/spinner.gif">
							</div>
						</div>
						<div id="presentAreaNews">
							<img src="{{ STATIC_URL }}images/device.jpg">
						</div>
						<div id="presentAreaContact">
							<img src="{{ STATIC_URL }}images/device.jpg">
						</div>
					</div>
					{% endblock present %}
				</div>
				<div id="buttonRow" class="span-24 last buttonRow">
					{% block buttonRow %}
					<a id="AboutButton" onclick="onAbout()">About</a>
					<a id="UploadButton" onclick="onUpload()">Upload</a>
					<div class="subLogo">
						<img src="{{ STATIC_URL }}images/bwlogo.jpg">
					</div>
					<a id="ContactButton" onclick="onContact()">Contact</a>
					<a id="NewsButton" onclick="onNews()">News</a>
					{% endblock buttonRow %}
				</div>
				<div id="contentArea" class="span-24 last">
					{% block contentArea %}
					
					{% endblock contentArea %}
				</div>
				
				{% endblock body %}
			</div>
		<a href="{{ STATIC_URL }}GreenButtonProject.apk">Download the App</a>
		</div>
	</body>
</html>